[Desktop Entry]
Name=WorkFlowy
Name[en_US]=WorkFlowy
GenericName=
GenericName[en_US]=
Comment=Organize your brain.
Comment[en_US]=Organize your brain.

Icon=workflowy
#Icon=icon.png (if plasmoid? - minus "Exec")

Type=Application
Exec=python /usr/local/bin/workflowy.py
#(if plasmoid? - minus "Exec")
##Type=Service
##X-KDE-ServiceTypes=Plasma/Applet

#X-Plasma-API=javascript
#X-Plasma-DefaultSize=200,100
#X-Plasma-MainScript=code/main.js

MimeType=
Path=

StartupNotify=true
Terminal=false
TerminalOptions=

X-DBUS-ServiceName=
X-DBUS-StartupType=

X-KDE-PluginInfo-Author=Dom Delimar
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=workflowybugs@domdelimar.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=workflowy
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://domdelimar.com/wf
X-KDE-SubstituteUID=false